.homeContainer {
  margin: 40px ;
}

.uploadImage{
  display:flex;
  border: 2px solid #333333;
}

.imageContainer{
  display: flex;
  align-items: center;
}

.cloudIcons{
  margin: 20px;
  background-color: transparent;
}

.imageText{
  color:white;
}

.imageButton{
  margin-left: 60px;
}

.outputImage{
  margin-left: 40px !important;
  color: white;
}

.outputPrice {
  margin-left: 40px !important;
}
